<div class="col-sm-4" style="padding: 15px;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to recipe.name, recipe %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= recipe.user.name %></h6>
    </div>
    <% if current_user == recipe.user || current_user.try(:admin?) %>
      <div class="card-footer">
        <%= link_to t('button.edit'), edit_recipe_path(recipe), class: "btn btn-outline-secondary" %>
        <%= link_to t('button.delete'),
                    recipe,
                    method: :delete,
                    data: {confirm: t('other.delete_confirm')},
                    class: 'btn btn-outline-danger'
        %>
      </div>
    <% end %>
  </div>
</div>
